﻿@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>About</h1>

<p>Lähdekoodi ja ykstyiskohtaisempi dokumentaatio löytyvät osoitteesta <a href="http://www.bitbucket.org/Insill/mvcsharp">http://www.bitbucket.org/Insill/mvcsharp</a></p>