﻿@model MVCSharp.Models.Student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
            <hr />
        </dd>

        <dd>
            <h4>Enrollments</h4>
            <table class="table-striped">
                <tr>
                    <th>Course title</th>
                    <th>Grade</th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Title) &ensp; &ensp;
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }
            </table>
        </dd>
      
        <dd>
            <h4>The user is currently attending following events</h4>
            <table class="table-striped">
                <tr>
                    <th>Event name</th>
                    <th>Start date</th>
                    <th>Location</th>
                </tr>
                @foreach (var item in Model.Attendances)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Event.Title) &ensp; &ensp;
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Event.startDate) &ensp; &ensp;
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Event.Location) &ensp; &ensp;   
                        </td>
                    </tr>
                }
            </table>
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.StudentID }) |
    @Html.ActionLink("Back", "Index")
</p>
